@tailwind base;
@tailwind components;
@tailwind utilities;

.ratio-standard {
  position: relative;
}

.ratio-standard::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: calc((1800 / 1200) * 100%);
}

.ratio-standard>* {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}